@model List<UserRoleResponseVM>
@using LikeKero.UI.ViewModels


<div class="userInfo">
    <div class="pos">
        <div id="divDataTable_length2"></div>
        <div class="chkTBL max-height-example">
            <div class="bulkImpLogHT max-height200" id="userScrollBar">
                <table id="fixedTbl" class="table dataTable">
                    <thead>
                        <tr class="uppercaseText">
                            <th>Role Name</th>
                            <th>Group Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (UserRoleResponseVM item in Model)
                            {
                                <tr id="@item.RoleId">
                                    <td>@item.DisplayRole</td>
                                    <td></td>
                                    <td class="text-right">
                                        <a title="Remove Admin" asp-action="RemoveGroupAdmin" asp-controller="User" asp-route-UserRoleId="@item.RoleId" class="lnkRemoveAdmin btn btn-primary" data-id="@item.RoleId">
                                            @*<i class="fa fa-trash"></i>*@ Remove
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">
                                    <div class="noRecord text-center">
                                        <strong>No Group Selected </strong> 
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="divdataTables_info2"></div>
    </div>
</div>

<script type="text/javascript">
     $(document).ready(function () {
         $("#fixedTbl").tableHeadFixer({ "head": true, "top": 1 });
     });
    $(".lnkRemoveAdmin").on('click', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        var url = $(this).attr('href');
        var id = $(this).attr('data-id');
        $.confirm({
            title: 'Confirm to remove Admin rights?',
            content: 'Are you sure you want to remove Admin rights of selected user?',
            buttons: {
                confirm: function () {

                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            showSuccessMsg('Admin rights removed successfully.', ' ', null);
                            $("#" + id).remove();
                            $("#btnSearch1").trigger('click');
                            $("#btnSearchGrp").trigger('click');
                        }

                    });
                },
                cancel: function () {

                },

            }
        });

    });
</script>
