@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";

}


<div class="logoutPage customError">
    <h1 class="logoutICon">
        <i class="fa fa-exclamation-triangle"></i>
    </h1>
    <h4>The session has timed out.</h4>
    <p>Please <a asp-controller="Login" asp-action="Login" class="">Click here</a> to login again</p>
</div>



