
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
     ViewData["Title"] = "Logout";
}
 
    @if (ViewBag.StatusCode == 404)
    {
        <div class="logoutPage customError">
            <h1 class="logoutICon">
                <i class="fa fa-exclamation-triangle"></i>
            </h1>
            <h4>404 Page Not Found.</h4>
            <p>Please <a asp-controller="Login" asp-action="Login" class="">Click here</a> to login again</p>
        </div>
    }