@model UserForgotPasswordRequestVM
@using LikeKero.UI.ViewModels;

<style>
.jconfirm-content-pane{height:auto !important}
</style>
<form id="frmForgotPassword">
    <div class="col-lg-12">
        <div class="modalContent">

            <div role="form">
                <div class="form-group">
                    <label for="inputsm">Email Address <span class="redColor"> *</span></label>
                    <input type="text" asp-for="EmailAddress" class="form-control" />
                    <span class="redColor" id="spnError" style="display:none"></span>
                </div>
                <div class="pull-right mb10">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                </div>

            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $("#frmForgotPassword #EmailAddress").keyup(function () { $("#spnError").hide(); });
    });


    $('#frmForgotPassword').submit(function (e) {
         $("#spnError").html('').hide();
        e.preventDefault();
        $.ajax({
            url: '@Url.Action("ForgotPassword", "Login")',
            data: $(this).serialize(),
            type: 'POST',
            success: function (data) {
                if (data == 'success') {
                     $(".jconfirm-closeIcon").trigger('click');
                    successMsgWithCallBack('New password is sent to your registered Email Id');
                }
                else {
                    $("#spnError").html(data).show();
                    //showWarningMsg(data);
                }
            }
        });
    });
</script>
