
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@*You have been successfully Log Out
Please <a asp-controller="Login" asp-action="Login">Click here</a> to login again*@


<div class="logoutPage">
    <h1 class="logoutICon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </h1>
    <h4>You have been <br /> successfully Log Out</h4>
    <p>Please <a asp-controller="Login" asp-action="Login" class="">Click here</a> to login again</p>
</div>