<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS" />

    <add key="DomainPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Domain" />
    <add key="DomainNamespace" value="DelphianLMS.Domain" />
    <add key="DomainRepoPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DomainInterfaces" />
    <add key="DomainRepoNamespace" value="DelphianLMS.Domain.DomainInterfaces" />

    <add key="DataPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Data" />
    <add key="DataConstantsPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Data\Constants" />
    <add key="DataConstantsNamespace" value="DelphianLMS.Data.Constants" />

    <add key="DomainInterfacesPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Domain\DomainInterfaces" />
    <add key="DomainInterfacesNamespace" value="DelphianLMS.Domain.DomainInterfaces" />

    <add key="DapperNamespace" value="DelphianLMS.Data.Interfaces" />

    <add key="RepositoryClassPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Data\Services" />
    <add key="RepositoryClassNamespace" value="DelphianLMS.Data.Services" />

    <add key="ServiceInterfacesPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Services\Interfaces" />
    <add key="ServiceInterfacesNamespace" value="DelphianLMS.Services.Interfaces" />

    <add key="ServiceClassPath" value="D:\PROJECTS\CardinalLMS\DelphianLMS\DelphianLMS.Services\Services" />
    <add key="ServiceClassNamespace" value="DelphianLMS.Services.Services" />


  </appSettings>

  <connectionStrings>
    <add name="SessionConn" connectionString="Server=TPR-DB;Database=DelphianLMS;User=jdteksa;password=Temp@123;Pooling=False;" />
  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>